/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #d6dce0;
}

form {
    margin: auto;
    max-width: 50%;
    margin-bottom: 20px;
}

h1 {
    color: #f80c8e;
    font-size: 2.5rem;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    font-style: oblique;
}

h1:hover {
    transform: scale(1.1);
}

.inputForm input {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: block;
    background-color: #f0e1c6;
    border: 2px solid #00a136;
    border-radius: 7px;
    color: #333;
    font-weight: bold;
    padding: 10px;
}

/* Lookup Button Start */

#submit1 {
    width: 25%;
    border: 2px groove #191a19;
}

#submit1:hover {
    background-color: #002f61;
    color: wheat;
}

#submit1:focus {
    background-color: #697c8f;
    border: 2px groove #ffffff;
    color: black;
}

/* Lookup Button End */
.inputForm input::placeholder {
    color: #666;
    font-weight: bold;
}

.inputForm input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card {
    max-width: 50%;
    background-color: rgb(19, 33, 34);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
    margin: auto;
}

.avatar {
    border-radius: 50%;
    border: 3px groove #a10000;
    height: 150px;
    width: 150px;
    transition: transform 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(1.1);
}

.user-info {
    color: #356e67;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 2rem;
    padding: 1rem;
    background-color: rgba(255,
            255,
            255,
            0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.user-info h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #000000;
}

.user-info p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
    margin-top: 1rem;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    color: #007bff;
}

.repo {
    text-decoration: none;
    color: #fff;
    background-color: #ff1500;
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.4rem 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 9px;
    transition: background-color 0.3s,
        transform 0.2s;
}

.repo:hover {
    background-color: #cc0c00;
    transform: scale(1.05);
    color: #191a19
}

@media (max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .inputForm {
        max-width: 400px;
    }
}

/* NavBar Start */
nav {
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    border: 1px groove green;
    position: fixed;

}

.bg-light {
    background-color: #f0f0f0 !important;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: blue;
    opacity: 0.5;
    font-weight: bold;
    text-decoration: overline;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/* NavBar End */
/*footer*/
.footer {
    background-color: black;
    color: #fefefe;
    margin-top: 500px;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
}

.footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

.footer .content p {
    margin-bottom: 1.3rem;
}

.footer .content a {
    text-decoration: none;
    color: #fefefe;
}

.footer .content a:hover {
    border-bottom: 1px solid #971717;
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}

footer {
    text-align: center;
    /* margin-bottom: 2rem; */
}

footer hr {
    margin: 2rem 0;
}

@media (max-width: 767px) {
    .footer .content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        position: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    .footer .content,
    .footer {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .footer {
        position: unset;
    }
}
